@{
    ViewData["Title"] = "Inicio";
}

<div class="banner">
    <div class="text-center banner-info">
        <h1 class="display-4 title-myper fw-bold mb-4">Bienvenido a MYPER</h1>
        <a class="btn btn-show-trabajadores" asp-controller="Trabajadores" asp-action="Index">Ver Trabajadores</a>.</p>
    </div>
</div>

<div class="nosotros py-4 container">
    <h2 class="text-center fs-2 mb-3 title-myper">Sobre Nosotros</h2>
    <p>Myper es una empresa peruana con más de 10 años de experiencia en el desarrollo de soluciones de software para la automatización de procesos empresariales.</p>
    <p>Especializados en áreas clave como gestión humana, gestión de proveedores, compras, finanzas y seguridad y salud en el trabajo, ofrecemos una digitalización completa respaldada por un equipo experto en TI.</p>
    <p>Nuestro propósito: Simplificar, automatizar y digitalizar procesos empresariales de pequeñas, medianas y grandes empresas, ayudándolas a mejorar su eficiencia, competitividad y manejo de datos para un crecimiento sostenible</p>
</div>